<ion-content>

  <div class="ion-text-center">
    <h2>Cuidados Necessarios</h2>
  </div>
  <ion-slides>
    <ion-slide>
     <ion-card>
      <img src="https://images.tcdn.com.br/img/img_prod/577562/kit_com_4_banners_de_prevencao_ao_covid_19_777_2_069904d118430c249d77e5b854013169.jpg">
    
    </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="https://images.tcdn.com.br/img/img_prod/713513/banner_coronavirus_covid_19_prevencao_353_1_20200316213251.jpg">
    
    </ion-card>
       
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="https://images.tcdn.com.br/img/img_prod/577562/kit_com_4_banners_de_prevencao_ao_covid_19_777_3_55f3e4f62cc87d9916ebaeca45664fe5.jpg">

      </ion-card>

    </ion-slide>
  </ion-slides>
</ion-content>
