h2{
        text-align: center;
        font-size: large;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 22px;
        color: rgb(75, 8, 75);;
        justify-content: center;

}



ion-content{
    background-image: url('https://lh3.googleusercontent.com/proxy/5kRwGnCUB3S3fWJGQ0t8yF7HYVRevYqyCtdn5BLJnA48YlX9FCKwTwUv1-vstLvCy9Fd3MSleKD4RGJq8gmuW7G2WpyLBWyzgIyDhUZciB_8dmOmHKBPa0zDuXbJl8JKxYWxn7-WNfMLNrpUxLRoalro6yixftjbYLJY9DtIraD9FWS2lWZoB0O6cWBg-zOdttk2ATTf4cznvJN3hWRpO71kF9LJXA');
   
}